

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/AngularJs_Controller/Division.js"></script>

<h2>Create</h2>





<div class="form-horizontal"ng-app="mymodule" ng-controller="mycontroller">
    <h4>Division</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("DivisionName", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" ng-model="DivisionModel.DivisionName" class="form-control"/>
        </div>
    </div>
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" ng-click="InsertData()" />
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
